<div class="columns">
  <div class="column is-size-1">
    <div class="field is-flex">
      <div class="field-label">
        <label class="label">{{operation.firstNumber}} {{operation.operationSign}} {{operation.secondNumber}} = </label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-flex">
            <input class="has-text-weight-bold input is-primary is-size-1" type="text" readonly [value]="result">
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="column has-text-centered is-one-third-desktop">
    <button class="button is-success is-size-3 is-fullwidth" (click)="solve()">
      <span class="icon is-medium">
        <i class="fas fa-check-circle"></i>
      </span>
    </button>
  </div>
</div>