@import '../../../../node_modules/bulma/sass/utilities/_all';

.field {
  justify-content: center;
  align-items: center;
}

.field-label {
  margin-right: 15px;
}

.input {
  width: 200px;
  height: 4rem;
}

.control {
  align-items: center;
}

.icon.has-text-danger {
  transform: rotateX(180deg);
}

@include tablet {
  .field-body {
    flex-grow: 1;
  }
}