<app-visual-help *ngIf="showVisualHelp && !isSuccess" [operation]="operation">
</app-visual-help>
<app-operation *ngIf="!isSuccess" [operation]="operation" [result]="solution" [showIcon]="showIcon"
  [isCorrect]="isCorrect" [secondsToNewOperation]="secondsToNewOperation" (solved)="onSolved($event)">
</app-operation>
<app-numpad *ngIf="!isSuccess" (sendDigit)="onDigitSent($event)" (deleteDigit)="onDeletedDigit()"
  [disableBackSpace]="solution === null">
</app-numpad>
<app-success *ngIf="isSuccess"></app-success>