.hero-body {
  background-image: url('/assets/images/math-kids-hero.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero.is-primary .title {
  font-size: 6rem;
}