<div class="columns is is-centered is-mobile is-multiline relative">
  <div class="column is-12">
    <h2 class="title is-2 is-1-tablet has-text-centered has-text-success">Well done!!!</h2>
  </div>
  <div class="column is-6-mobile is-5-tablet is-4-desktop">
    <figure class="image">
      <img src="assets/images/trophy.png">
    </figure>
  </div>
  <div class="fireworks-background">
    <div class="firework"></div>
  </div>
</div>
<div class="columns is-mobile is-centered">
  <div class="column is-6-mobile is-5-tablet is-4-desktop">
    <a [routerLink]="['']" class="button is-fullwidth is-warning is-light is-size-3">Start</a>
  </div>
</div>