@import '../../../../node_modules/bulma/sass/utilities/_all';

.icon {
  margin: 0 2px;
  height: 4vw;
  width: 4vw;
}

.fas {
  font-size: 4vw;
}

@include tablet {
  .fas {
    font-size: 3.5vw;
  }
}