<div class="columns">
  <div class="column is-offset-one-fifth-mobile is-offset-one-third is-one-third is-two-thirds-mobile">
    <form [formGroup]="operationConfig" (ngSubmit)="startOperations()">
      <div class="field">
        <label for="secondsToNewOperation" class="label">Seconds between operations:</label>
        <input formControlName="secondsToNewOperation" class="input is-info" type="number" name="secondsToNewOperation"
          id="secondsToNewOperation">
      </div>
      <div class="field">
        <label for="totalOperations" class="label">Number of operations:</label>
        <input formControlName="totalOperations" class="input is-info" type="number" name="totalOperations"
          id="totalOperations">
      </div>
      <div class="field">
        <div class="control">
          <label for="operationType" class="label">Operation type:</label>
          <div class="select is-info">
            <select id="operationType" name="operationType" class="is-capitalized" formControlName="operationType">
              <option *ngFor="let operationType of operationTypesArray" [ngValue]="operationType.value">
                {{ operationType.name }}</option>
            </select>
          </div>
        </div>
      </div>
      <button class="button is-success">Start!</button>
    </form>
  </div>
</div>