<div class="columns is-mobile">
  <div class="column is-offset-one-fifth is-two-thirds">
    <form [formGroup]="operationConfig" (ngSubmit)="startOperations()">
      <div class="columns is-multiline">
        <div class="field column is-half">
          <label for="secondsToNewOperation" class="label">Seconds between operations:</label>
          <input formControlName="secondsToNewOperation" class="input is-info"
            [ngClass]="{ 'is-danger': operationConfig.controls.secondsToNewOperation.invalid}" type="number" min="1"
            name="secondsToNewOperation" id="secondsToNewOperation" required>
          <p class="help is-danger" *ngIf="operationConfig.controls.secondsToNewOperation.invalid">Set the number of
            seconds between operations</p>
        </div>
        <div class="field column is-half">
          <label for="totalOperations" class="label">Number of operations:</label>
          <input formControlName="totalOperations" class="input is-info"
            [ngClass]="{ 'is-danger': operationConfig.controls.totalOperations.invalid}" type="number" min="0"
            name="totalOperations" id="totalOperations" required>
          <p class="help">* 0 means no limit</p>
          <p class="help is-danger" *ngIf="operationConfig.controls.totalOperations.invalid">Set at least 1 operation
          </p>
        </div>
        <div class="field column is-half">
          <div class="control">
            <label for="maxOperatorValue" class="label">Maximum value of operators:</label>
            <div class="select is-info">
              <select id="maxOperatorValue" name="maxOperatorValue" class="is-capitalized"
                formControlName="maxOperatorValue" (change)="onMaxOperationValueChanged()">
                <option *ngFor="let maxOperatorValue of maxOperatorValuesArray" [ngValue]="maxOperatorValue">
                  {{ maxOperatorValue }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field column is-half">
          <label for="showVisualHelp" class="label">Show visual help:</label>
          <input formControlName="showVisualHelp" type="radio" hidden id="showVisualHelp" name="showVisualHelp">
          <div class="buttons has-addons">
            <button type="button" class="button"
              [ngClass]="{ 'is-selected is-success': operationConfig.controls.showVisualHelp.value}"
              (click)="onShowVisualHelpChanged()" [disabled]="disableShowVisualHelp">Yes</button>
            <button type="button" class="button"
              [ngClass]="{ 'is-selected is-danger': !operationConfig.controls.showVisualHelp.value}"
              (click)="onShowVisualHelpChanged()" [disabled]="disableShowVisualHelp">No</button>
          </div>
        </div>
        <div class="field column is-half">
          <div class="control">
            <label for="operationType" class="label">Operation type:</label>
            <div class="select is-info">
              <select id="operationType" name="operationType" class="is-capitalized" formControlName="operationType">
                <option *ngFor="let operationType of operationTypesArray" [ngValue]="operationType.value">
                  {{ operationType.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <button class="button is-success is-family-secondary" [disabled]="operationConfig.invalid">Start!</button>
    </form>
  </div>
</div>